@charset "utf-8";
/* CSS Document */
  body{ margin:0}
  form { width: 80%; background-color: rgb(35, 31, 32); height:auto; overflow: hidden; display: block;color:#f5f1e4;text-align:center; padding:40px 10% 0 10%}
  form label {  position:relative; margin-top:10px; background:#000; text-align:left}
  form input { border:none ;width:100%;background-color: rgb(35, 31, 32); border-bottom:1px solid #f5f1e4; display:block; color:#FFF}
  form label span { 
    
	height:33px; line-height:33px;
	display:block;
	font-weight:normal; 
	}
	form input[type=submit]{ width:50%; margin:10px 25%; color: #f5f1e4 ; border:#f5f1e4 1px solid}
