@charset "utf-8";
/* CSS Document */
#pre {
	background-color:#FFF;
	z-index:6000px;
	display:block;
	position:fixed;
	width:100%;
	height:2000px;
	top:0px;
}

#bod_blazer #menblazer a,#bod_blusas_y_camisas #menblusas_y_camisas a,#bod_camisas #mencamisas a,#bod_jeans #menjeans a,#bod_manga_sport #menmanga_sport a,#bod_pantalón_sport #menpantalón_sport a,#bod_pantalón_vestir #menpantalón_vestir a,#bod_pantalones #menpantalones a,#bod_polleras #menpolleras a,#bod_remeras #menremeras a,#bod_shorts #menshorts a,#bod_tejidos #mentejidos a,#bod_vestidos #menvestidos a {
	border-bottom:1px solid #000;
}
	
#nav ol, #nav, #header {
	overflow:auto;
}
#nav ol li {
	display:block; float:left;
	margin-left:10px;
	line-height:40px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
#prev, #next {
	height:50px;
	width:44px;
	position:fixed;
	cursor:pointer;
}
	#prev { left:0px;}
	#next { right:0px;}
ol.listaModelos {
	margin-left:50px;
	margin-right:50px;
}
ol.listaModelos li {margin:1px; font-size:12px; width:220px; float:left; overflow:auto; margin-bottom:40px;}
	ol.listaModelos li .fotoFoot {
		padding:10px; background-color:#FFF; margin:0px; overflow:auto; min-height:75px;
	}
		ol.listaModelos li img { cursor:pointer;}
		ol.listaModelos li h3 { font-weight:normal; font: 17px 'QuicksandBook', Arial, sans-serif;}
		ol.listaModelos li p {}
		

img#pannerHold {}
#outer_container { position:fixed; top:0px; left:0px; z-index:1000; display:none; background:url(../img/layout/loading.gif) center no-repeat #FFF;}
#outer_container, #imagePan{ width:100%}
#outer_container{}
#imagePan{ position:relative; overflow:hidden; cursor: move;}
	#imagePan img {height:auto; width:100%}
#imagePan .container{position:relative; left:0;}
	a#cerrarPan { display:block; font-size:12px; position:fixed; top:30px; right:30px; border:1px solid #CCC; background:#FFF; text-decoration:none; padding:5px;}
		a#cerrarPan span { color:#999;}
	#imagePan #info {font-size:12px; text-align:center; position:absolute; bottom:0px; min-height:40px; overflow:visible; width:420px;}
		#imagePan #info #showhide { padding:10px; width:400px; background-color:#FFF;}
		#imagePan #info #data {position:absolute; bottom:0px; display:none; background-color:#FFF; padding:10px; width:400px; cursor:text; text-align:left;}
			#imagePan #info #data h3 { font-size:20px; font-weight:normal;line-height:150%; color:#666;}
			#imagePan #info #data p { font-size:12px; line-height:150%; color:#666; font-weight:100;}


#portadaImg{width:100%;}
#secMenu{display:block;	position:fixed;	width:200px; right:17%; top:20%; z-index:1000;}
	#secMenu li{ text-transform:uppercase; font-size:18px; margin-bottom:5px;}